.form {
  display: flex;
  margin-bottom: 11px;
}

.input {
  padding: 0 16px;
  background: #ffffff;
  border: 1px solid #e5e9eb;
  border-radius: 6px;
  width: 320px;
  height: 40px;
  box-shadow: 0 0 10px black;
  @media (max-width: 700px) {
    width: 260px;
    height: 35px;
  }
  @media (max-width: 450px) {
    width: 220px;
    height: 30px;
  }
}
.input[type="text"] {
  font-size: 15px;
  font-weight: 400;
}

.input {
  /* // border: none; */
  outline: none;
  padding: 1em;
  background-color: #ffffff;
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: rgb(252, 250, 250);
  transform: scale(1.02);
  box-shadow: 13px 13px 10px #969696, -13px -13px 10px #ffffff;
}

.add {
  width: 60px;
  height: 40px;
  background: #4094f7;
  border-radius: 6px;
  color: white;
  margin-left: 12px;
  &:hover {
    transition: 1s;
    background-color: #1252a5;
  }
  @media (max-width: 700px) {
    width: 50px;
    height: 35px;
  }
  @media (max-width: 450px) {
    width: 50px;
    height: 33px;
  }
}

.shakeable {
  animation: shake 0.4s;
  /* // border: 2px solid red;
      // box-shadow: 3px 3px 3px red;
      // transition: all 0.1s; */
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
